.titulo-grande {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 1rem;
  }
.calendar-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .calendar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
  }
  