
<button pButton type="button" style="background-color: green ;" label="Obtener Información" (click) = "getTotalAlumnos()"></button>
<div class="p-col-12 p-sm-12 p-md-12 p-lg-12 p-xl-12" style="align-items: center;">
  <div class="card">
    <p-table #dt1 [value]="data" [rows]="5" [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,10,25,50]"
      [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [globalFilterFields]="['codigoCarrera', 'nombreCarrera','totalAlumno']">
      <ng-template pTemplate="caption">
        <div class="flex">
          <button pButton label="Limpiar Filtro" class="p-button-outlined" icon="pi pi-filter-slash"
            (click)="clear(dt1)"></button>
          <span class="p-input-icon-left ml-auto">
            <i class="pi pi-search"></i>
            <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')"
              placeholder="Filtrar" />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
            <th style="min-width:15rem">
                <div class="flex justify-content-center align-items-center">
                  Código
                  <p-columnFilter type="text" field="codigoCarrera" display="menu"></p-columnFilter>
                </div>
              </th>
            <th style="min-width:15rem">
            <div class="flex justify-content-center align-items-center">
              Carrera
              <p-columnFilter type="text" field="nombreCarrera" display="menu"></p-columnFilter>
            </div>
          </th>
          <th style="min-width:15rem">
            <div class="flex justify-content-center align-items-center">
              Alumnos Matriculados
              <!-- <p-columnFilter type="text" field="totalAlumno"display="menu"></p-columnFilter> -->
            </div>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-alumnos>
        <tr>
          <td>
            {{alumnos?.codigoCarrera}}
          </td>
          <td>
            {{alumnos?.nombreCarrera}}
          </td>
          <td>
            {{alumnos?.totalAlumno}}
          </td>
        </tr>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="3">No customers found.</td>
          </tr>
        </ng-template>
      </ng-template>
    </p-table>
  </div>
</div>





