
<div className="input">
  <span class="p-float-label">
    <input id="float-input" type="text" pInputText [(ngModel)]="params.rut" placeholder="Ingresa tu RUT"> 
</span>
</div>
<div>
  <!--<input id="myInput" type="text" pInputText [(ngModel)]="params.rut"/>-->
  <button pButton type="button" label="Buscar" (click)="getDatos()"></button>
  <button pButton type="button" onclick="document.getElementById('float-input').value = ''" style="background-color: red;">Limpiar</button> <!-- Limpiar BOTON-->
</div>  

<div *ngIf="this.alumno">
  <p-card header="{{this.alumno?.nombres}}" [style]="{'width': '25rem', 'margin-bottom': '2em'}">
    <ng-template pTemplate="header">
      <img alt="Card" src="https://repositorio.uv.cl/bancoFotos/18269043/banner/instructivo_matricula.png">
    </ng-template>
    <p-chip styleClass="mr-2 custom-chip">{{this.alumno?.rut}}-{{this.alumno?.dv}} </p-chip>
    <p-chip>{{this.alumno?.codigo}}</p-chip>
  </p-card>
</div>

<!--<div class="row">
  <div class="col">
    <div class="card">
      <h3>Card 1</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <h3>Card 2</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <h3>Card 3</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <h3>Card 4</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </div>
</div>-->